@charset "utf-8";
/* CSS Document */
	#main{
		width: 430px;
		height: 330px;
		background:#BC6769;
		border-radius: 10px;
		position: relative;
		top: 100px;
		left: 467px;
	}
	#header{
		width: 430px;
		height: 180px;
		background:#1AECE9 url(images/css.jpg);
		border-top-right-radius: 10px;
		border-top-left-radius: 10px;
		position: relative;
	}
	#footer{
		width: 430px;
		height: 150px;
		background: rgb(103,196,255);
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		position: relative;
	}
	#input1{
		position: absolute;
		top:10px;
		left: 140px;
		width: 190px;
		height: 27px;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
	}
#input1:hover{
	border: #000DFF solid 1px;
}
	#input2{
		position: absolute;
		top: 42px;
		left: 140px;
		width: 190px;
		height: 27px;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
	}
#input2:hover{
	border:  #000DFF solid 1px;
}
#input3{
	position: absolute;
	top: 80px;
	left: 138px;
}
#input4{
	position: absolute;
	top: 80px;
	left:250px;
}
#remeber{
	font-size: 14px;
	position: absolute;
	top: 81px;
	left:158px;
	color:white;
}
#autologin{
	font-size: 14px;
	position: absolute;
	top: 81px;
	left: 270px;
	color:white;
}
	#bg{
		width: 90px;
		height: 90px;
		border-radius: 80px;
		background: #010101 url(images/minibg.jpg);
		position: absolute;
		left: 40px;
		top: 10px;
	}
	#footerleft{
		height:150px;
	    width:135px;
		
		border-bottom-left-radius: 10px;
		float: left;
	}
	#footermain{
		height: 150px;
		width: 205px;
		float: left;
	}
#loginwords{
	position: absolute;
	top: 107px;
	left: 140px;
	height: 30px;
	width: 193px;
	background: rgb(190,104,255);
	border-radius: 5px;
	text-align: center;
	line-height: 30px;
	color: white;
}

	
	#footerright{
		height: 150px;
		width: 90px;
		
		float: right;
	}
	#a1{
		text-decoration: none;
		color: rgb(255,104,103);
		position: absolute;
		top: 20px;
		font-size: 15px;
	}
	#a2{
		text-decoration: none;
		color: rgb(255,104,103);
		position: absolute;
		top: 50px;
		font-size: 15px;
	}
	#a1:hover{
		color:rgb(230,80,80);
	}
	#a2:hover{
		color:rgb(230,80,80);
	}
